In [1]:
import pandas as pd

Задание №1

In [2]:
films = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\movies.csv')
ratings = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\ratings.csv')

In [42]:
films_with_ratings = films.merge(ratings, how='left')

In [55]:
films_with_ratings = films_with_ratings.groupby('title').mean()

In [58]:
def z(films):
    if films <= 2:
        return 'низкий рейтинг'
    if films <= 4:
        return 'средний рейтинг'
    if films > 4:
        return 'высокий рейтинг'

In [63]:
films_with_ratings['class'] = films_with_ratings['rating'].apply(z)
films_with_ratings.head()

,movieId,userId,rating,timestamp,class
title,,,,,
"""Great Performances"" Cats (1998)",51372.0,382.000000,1.750000,1.272201e+09,низкий рейтинг
$9.99 (2008),74486.0,362.666667,3.833333,1.296821e+09,средний рейтинг
'Hellboy': The Seeds of Creation (2004),97757.0,134.000000,2.000000,1.361244e+09,низкий рейтинг
'Neath the Arizona Skies (1934),70121.0,207.000000,0.500000,1.258440e+09,низкий рейтинг
'Round Midnight (1986),26564.0,377.000000,2.250000,1.215959e+09,средний рейтинг

In [72]:
films_with_ratings = films_with_ratings.drop('timestamp', axis=1)
films_with_ratings.head()

                                         movieId    rating            class
title
"Great Performances" Cats (1998)         51372.0  1.750000   низкий рейтинг
$9.99 (2008)                             74486.0  3.833333  средний рейтинг
'Hellboy': The Seeds of Creation (2004)  97757.0  2.000000   низкий рейтинг
'Neath the Arizona Skies (1934)          70121.0  0.500000   низкий рейтинг
'Round Midnight (1986)                   26564.0  2.250000  средний рейтинг

Задание №2

In [86]:
file = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\keywords.csv')
file.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [166]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [229]:
def finder(words):
    for x in geo_data.items():
        for word in x:
            if words in word:
                return x[0]
    return 'undefined'

In [235]:
file['region'] = file['keyword'].apply(finder)

In [236]:
file['region'].unique()

array(['undefined', 'Дальний Восток', 'Северо-Запад', 'Центр'],
      dtype=object)