In [2]:
import pandas as pd

Задача №1

In [74]:
data = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\ratings.csv')
changed_data = data[ (data['rating'] == 5.0) ]
changed_data['movieId'].value_counts().head()

318    48762
296    37458
356    32009
260    31385
593    30280
Name: movieId, dtype: int64

In [73]:
films = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\movies.csv')

films[ (films['movieId'] == 541) ]

     movieId                title                  genres
537      541  Blade Runner (1982)  Action|Sci-Fi|Thriller

Задача №2

In [144]:
data = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\power.csv')

In [145]:
# Фильтр на страны
filtered_countries = data [ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ] 
# Фильтр на год
filtered_countries = filtered_countries[ filtered_countries.year > 2005]
filtered_countries = filtered_countries[ filtered_countries.year < 2010]
# Фильтр на значение quantity
filtered_quantity = filtered_countries[ filtered_countries.quantity > 0 ]
# Фильтр на категории
filtered_category = filtered_quantity[ (filtered_quantity['category']==4) | (filtered_quantity['category']==12) | (filtered_quantity['category']==21) ] 
# Сумма quantity
filtered_category['quantity'].sum()

164555.0

Задача №3

In [183]:
x = pd.read_html('https://stats.oecd.org/Index.aspx?DataSetCode=SSIS_BSC_ISIC4#', encoding='utf-8')[0]
type(x)

pandas.core.frame.DataFrame