In [5]:
import pandas as pd

Задание №1

In [ ]:
log = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\visit_log.csv', sep=';')

In [ ]:
# Если находим в "traffic_source" яндекс или гуглс - добавляем в новый столбец "organic"
log.loc[log.traffic_source == 'yandex', 'source_type'] = 'organic'
log.loc[log.traffic_source == 'google', 'source_type'] = 'organic'

In [ ]:
# Если находим в "traffic_source" 'paia' или 'email' из региона Россия - добавляем в новый столбец "add"
log.loc[(log.traffic_source == 'email') & (log.region == 'Russia'), 'source_type'] = 'add'
log.loc[(log.traffic_source == 'paid') & (log.region == 'Russia'), 'source_type'] = 'add'

In [ ]:
# Если находим в "traffic_source" 'paia' или 'email' не из России - добавляем в новый столбец "other"
log.loc[(log.traffic_source == 'paid') & (log.region != 'Russia'), 'source_type'] = 'other'
log.loc[(log.traffic_source == 'email') & (log.region != 'Russia'), 'source_type'] = 'other'

In [ ]:
# Остальные варианты берем из traffic
log.loc[(log.traffic_source == 'direct'), 'source_type'] = 'direct'
log.head(20)

Задание №2

In [ ]:
url = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\URLs.txt')

In [ ]:
x[x.url.str.contains(r'/\d{8}-')].head()

Задание №3

In [ ]:
df = pd.read_csv('C:\\Users\\korchagin.ivan\\OneDrive - ООО М5\\Рабочий стол\\ratings.csv')
df.head()

In [ ]:
new_df = df.groupby('userId').agg(['count', 'min', 'max'])['timestamp'].reset_index()
new_df.head()

In [ ]:
df_2 = new_df[new_df['count'] >= 100]
df_2.head()

In [ ]:
result = df_2['max'] - df_2['min']
result.head()

Задание №4

In [ ]:
# Необходимо сформировать две таблицы:
# 1. таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
# 2. аналогичную таблицу по типам выручки с указанием адреса клиента
# Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [23]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [24]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [25]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [26]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [27]:
result_1 = rzd.merge(auto, on = 'client_id', how='outer').merge(air, on = 'client_id', how='outer')
result_1.head()

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0

In [28]:
result_2 = result_1.merge(client_base, on = 'client_id', how = 'outer')
result_2

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          NaN        4834.0          4.0    Строителей 18
6        117          NaN          98.0         13.0  Панфиловская 33
7        118          NaN           NaN        173.0     Мастеркова 4